table{
    font-family: serif;
    font-style: oblique;
    border-style: solid;
    border-color: antiquewhite;
    border-width: thick;
}

th{
    font-weight: 900;
    background-color: aliceblue;
    color:black;
        
}